#ignore files except following
*
!*.abt
!*.ahk
!*.ans
!*.arg
!*.bat
!*.config
!*.csv
!*.css
!*.cuix
!*.dat
!*.dll
!*.doc
!*.docx
!*.dotm
!*.dvb
!*.eot
!*.exe
!*.exportedUI
!*.fas
!*.gitignore
!*.htm
!*.html
!*.ico
!*.in
!*.ini
!*.js
!*.jpg
!*.json
!*.lib
!*.lisp
!*.log
!*.mac
!*.map
!*.mcdx
!*.md
!*.png
!*.php
!*.scscript
!*.scss
!*.snippets
!*.solc
!*.svg
!*.tiff
!*.ttf
!*.ts
!*.txt
!*.vbs
!*.vim
!*.wav
!*.wbjn
!*.woff
!*.xla
!*.xlsx
!*.xml
!*.zip

!*/
bundle/
ag/
phpMyAdmin/
angularQS/node_modules/*

